@model PresentationLayer.MitsubishiBankWebsite.Models.Bank.BankCreateBaseModel


<div class="row text-center" >
    <h2>Mitsubishi Bank Management Studio</h2>
    <h4 class="bg-primary">
        Important notes : editig the information in this section allowed only for
        full-access admins and may cause the lost of data.
    </h4>

</div>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class=""></div>
    </div>
    <div class="col-lg-4"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
