@using PresentationLayer.MitsubishiBankWebsite.StaticHelpers
@model String


<div class="row text-center">
    <div class="btn-primary btn-block text-center btn-lg" disabled>Mitsubishi Bank Management Studio</div>

</div>
<br/>
<div class="row">
    @if (Globals.CurrentAction == "BankManagement")
    {
        @Html.Action("ShowBank")
    }
    else if (Globals.CurrentAction == "CustomerManagement")
    {
        @Html.Action("CustomerManagement")
    }
    else if (Globals.CurrentAction == "EmployeeManagement")
    {
        @Html.Action("EmployeeManagement")
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
