
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="card-group">
        <div class="card card-danger-outline card-danger-outline">
            <div class="card-block ">
                <h4 class="card-title">Manage bank</h4>
                <p class="card-text">This is the section to control bank-related data.</p>
                
                <input type="button" value="Open" class="btn btn-danger btn-block center-block" />
            </div>
        </div>
        <div class="card card-warning-outline card-warning-outline">
            <div class="card-block">
                <h4 class="card-title">Manage employeers</h4>
                <p class="card-text">This is the section to control bank-related data.</p>
                <input type="button" value="Open" class="btn btn-warning btn-block center-block" />
            </div>
        </div>
        <div class="card card-warning-outline card-warning-outline">
            <div class="card-block">
                <h4 class="card-title">Manage customers</h4>
                <p class="card-text">This is the section to control bank-related data.</p>
                <input type="button" value="Open" class="btn btn-warning btn-block center-block"/>
            </div>
        </div>
    </div>
</div>
